Store/Common/Service References/SMSService/sms_elearning.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s0="http://tempuri.org/dtcsms/sms_elearning" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/dtcsms/sms_elearning" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/dtcsms/sms_elearning">
      <s:element name="send_elearning_sms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message_template" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destination_mobile_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driver_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driver_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param6" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="send_elearning_smsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="send_elearning_smsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="send_elearning_sms_from_DTC_contacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtc_driver_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="file_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date_time_of_test" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="test_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="send_elearning_sms_from_DTC_contactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="send_elearning_sms_from_DTC_contactsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="send_elearning_smsSoapIn">
    <part name="parameters" element="s0:send_elearning_sms" />
  </message>
  <message name="send_elearning_smsSoapOut">
    <part name="parameters" element="s0:send_elearning_smsResponse" />
  </message>
  <message name="send_elearning_sms_from_DTC_contactsSoapIn">
    <part name="parameters" element="s0:send_elearning_sms_from_DTC_contacts" />
  </message>
  <message name="send_elearning_sms_from_DTC_contactsSoapOut">
    <part name="parameters" element="s0:send_elearning_sms_from_DTC_contactsResponse" />
  </message>
  <portType name="sms_elearningSoap">
    <operation name="send_elearning_sms">
      <input message="s0:send_elearning_smsSoapIn" />
      <output message="s0:send_elearning_smsSoapOut" />
    </operation>
    <operation name="send_elearning_sms_from_DTC_contacts">
      <input message="s0:send_elearning_sms_from_DTC_contactsSoapIn" />
      <output message="s0:send_elearning_sms_from_DTC_contactsSoapOut" />
    </operation>
  </portType>
  <binding name="sms_elearningSoap" type="s0:sms_elearningSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="send_elearning_sms">
      <soap:operation soapAction="http://tempuri.org/dtcsms/sms_elearning/send_elearning_sms" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="send_elearning_sms_from_DTC_contacts">
      <soap:operation soapAction="http://tempuri.org/dtcsms/sms_elearning/send_elearning_sms_from_DTC_contacts" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="sms_elearning">
    <port name="sms_elearningSoap" binding="s0:sms_elearningSoap">
      <soap:address location="http://production/dtsms/sms_elearning.asmx" />
    </port>
  </service>
</definitions>